div.card {
  .headline {
    background-color: yellow;
    color: black;
    text-decoration: underline;
  }

  & > .content {
    background-color: lightblue;
    color: darkblue;
  }
}

div.demoStyling {
  background-color: lightgrey;
}
